{% extends "base.html" %}
{% block app_content %}
<div class="table-responsive">
<table class="table">
    <tr>
        <td>
            <h4><a href="{{ url_for('messages.msg') }}">Received messages</a></h4>
            <h4><a href="{{ url_for('users.user_message') }}">Sent messages</a></h4>
        </td>

        <td>
    {% for post in messages %}
    <h4 id="post{{ post.id }}">{{ post.body }}</h4>
    <legend class="border-bottom mb-1"><small class="text-muted"><b>To:</b>
        <a href="{{ url_for('messages.send_message', recipient=post.recipient.username) }}">
        {{ post.recipient.first_name + ' ' + post.recipient.last_name }}</a>
            <b>on</b> {{ post.timestamp }}</small></legend>
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ 'Newer messages' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Older messages' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
            </td>
    </tr>
</table>
    </div>
{% endblock %}
